<!DOCTYPE html>
<html>
<head>
	<title>StegoChat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=yes">
    <link rel="stylesheet" href="style.css">
	<link rel='shortcut icon' href='static/favicon.png' type='image/png' />
</head>
<body style="background-color:white;">
<div id="container">
	<div id="contactus">
		<button id="button1">
			Contact Us
		</button>
	</div>
	<div id="logo">
		<img id="logoimg">
	</div>
	<div id="upload">
		<h1>Upload new File</h1>
    	<form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=encrypt name=go>
        <input type=submit value=decrypt name=go>
        </form>
	</div>

</div>

</body>
</html>